body {
    background-color: #c1e1ec;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.width_20 {
    width: 20%;
}

.sides {
    flex-basis: 25%;
}

.middle {
    flex-basis: 50%;
}

.points {
    background-color: #9acee0;
    width: 50%;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    text-align: center;
}