body {
	background-color: #DFD4D4;;
	/*width: 100%;*/
}

#Poki-Text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	/* margin-left: auto;
	margin-right: auto;
	align-items: center;
	width: 15em; */


	padding: 15px;
	
}
.container {
	background-color: #9acee0;
	width: 94.3%;

}

#points {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #000000;
}

.homediv {
	position: fixed;
	top: 5px;
	right: 5px;
	text-align: center;
	/*center stuff inside*/
	background-color: #8080ff;
	padding: 20px;
	border-radius: 25px;
	/*rounded corners*/
}

.Purchase {
	align-items: center;
	text-align: center;
	padding: 10px;
}

