body {
    background-color: #c1e1ec;
}

.center {
    background-color: #9acee0;
    display: flex;
    width: 75%;
    border-radius: 25px;
    padding: 50px;
    justify-content: center;
    margin:auto;
}

.header {
    justify-content: center;
    display: flex;
}

.link {
    float:right;
    display: flex;
    padding-right: 20%;
}
