<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='game.css' ) }} />
</head>

<body>
    <div class="container">
        <div class="sides">
            <div class="points">
                Name: {{username}}
                <br>
                Profile Points:<span id="profPoints">{{currentpoints}}</span>
                <br>
                Game Progress:<span id="gameProg">0/10</span>
                <br>
                Number Correct:<span id="numCor">0</span>
                <br>
                Number Incorrect:<span id="numIncor">0</span>
            </div>
        </div>
        <div class="middle">
            <h1>Who's That Pokemon?</h1>
        </div>
        <div class="sides">
            right
        </div>
    </div>
    <div class="container">
        <div class="sides">
            left
        </div>
        <div class="middle">
            <img id="image" src="" alt="pokemon" style="width: 500px;">
        </div>
        <div class="sides">
            right
        </div>
    </div>
    <div class="container">
        <div class="button_divs">
            one
        </div>
        <div class="button_divs">
            <button type="button" id="choice1">Pokemon 1</button>
        </div>
        <div class="button_divs">
            <button type="button" id="choice2">Pokemon 2</button>
        </div>
        <div class="button_divs">
            <button type="button" id="choice3">Pokemon 3</button>
        </div>
        <div class="button_divs">
            <button type="button" id="choice4">Pokemon 4</button>
        </div>
        <div class="button_divs">
            six
        </div>
    </div>


    <script type="text/javascript" src="/static/game.js"></script>
</body>

</html>