<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='game.css' ) }} />
</head>

<body>
    <div class="container">
        <div class="sides">
            <div class="points">
                Name:
                <br>
                Profile Points:
                <br>
                Game Progress:
                <br>
                Number Correct:
                <br>
                Number Incorrect:
            </div>
        </div>
        <div class="middle">
            middle
        </div>
        <div class="sides">
            right
        </div>
    </div>


</body>

</html>