<!DOCTYPE html>

<head>
    <title>PokeMasters - Profile</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='landing.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static' , filename='clear.css' ) }} />
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div id="nav">
        <a href="/"><u>Home</u></a>
        <a href="/login">| Login</a>
        <a href="/signup">| Signup</a>
    </div>
    <div id="card">
        <div id="logo">
            <p>PokeMasters</p>
        </div>
        <div id="landing">
            <p>Who’s that Pokemon? Do you know Pidgey from Zubat? Can you spot the difference between Jigglypuff and
                Wigglypuff? Test your knowledge with PokeMasters!</p>
            <p>PokeMasters is a web application built with Python and the PokeAPI to simulate the guessing game featured
                on the original Pokémon show during the commercial bumpers.</p>
        </div>
        <img src="/static/images/ashpika.png">
        <p style="position: absolute; top: 100px;">Made By Ramses Salcedo, Minxia Dong, Brandon
            Pinto, and Dominick DiLeo.</p>
    </div>
        <div id="footer">
            <p>Created by Ramses Salcedo, Dominick DiLeo, Minxia Dong and Brandon Pinto</p>
        </div>
</body>