<!DOCTYPE html>

<head>
    <title>Profile Page - Pokemasters</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='profile.css' ) }} />
</head>

<body>
    <h1>Welcome {{ username }}</h1>
    <img id="profile" src={{picpath}} /><br>
    <a href="/upload">
        <button>UPLOAD PICTURE</button>
    </a><br>
    <h3>Current points: {{ currentpoints }}</h3>
    <h3>Lifetime points: {{ lifetimepoints }}</h3>
    <h3>My Pokemon Collection:</h3>

    <div id="myData" />
    <div class="homediv">
        <a href="/">
            <button>HOME</button>
        </a>
    </div>
    <script type="text/javascript" src="/static/profile.js"></script>
</body>