<html>

<head>
    <title>PokeMasters - Signup</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='signup.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static' , filename='clear.css' ) }} />
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div id="nav">
        <a class="nav" href="/">Home</a>
    </div>
    <div id="card">
        <div id="logo">
            <p>PokeMasters</p>
            <div id="signup">
                <p>Signup</p>
                {% with messages = get_flashed_messages() %} {% if messages %}
                    <ul id="flashes" class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %} {% endwith %}
                <div id="username">
                <p>Username</p>
                 <form method="POST" action="/signup">
                <input id="usr" type="text" name="user_name" placeholder="Enter username" />
                </div>
                <div id="password">
                <p>Password</p>
                <input id="pwd" type="password" name="password" placeholder="Enter password" /><br />
                </div>
                <div id="version">
                <label name="version">Choose a version</label>
                <select name="version">
                <option value="Blue">Blue</option>
                <option value="Red">Red</option>
                </select><br/>
                <input id="submit" type="submit" value="Submit" />
                </form>
                </div>
                </div>
                </div>
        <a href={{ url_for ('login')}}>Already registered? Login here</a>
    </div>
</body>

</html>