<html>

<head>
    <title>SignUpPage</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='style.css' ) }} />
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Sign Up</h1>
        </div>
        <div class="link">
            <a href={{ url_for ('login')}}> Login </a>&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href={{ url_for ('game')}}> Home </a>
        </div>
    </div>
    <div class="center">
        <form method="POST" action="/signup">
            <input type="text" name="user_name" placeholder="Enter username" /><br><br>
            <input type="text" name="password" placeholder="Enter password" /><br><br>
            <input type="submit" value="Sign Up" />
        </form>
    </div>
</body>

</html>