<!DOCTYPE html>

<head>
	<title>PokeMasters - Store</title>
	<link rel="stylesheet" href={{ url_for( 'static' , filename='store.css' ) }} />
	<link rel="stylesheet" href={{ url_for( 'static' , filename='clear.css' ) }} />
	<link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
</head>

<body>
	<div id="nav">
		<a href="/">Game</a>
		<a href="/profile">| Profile</a>
		<a href="/leaderboard">| Leaderboard</a>
		<a href="/store">| <u>Store</u></a>
		<a href="/logout">| Logout</a>
	</div>
	<div id="card">
		<div id="logo">
			<p>PokeMasters</p>
		</div>
		<div id="store">
			<p>Store</p>
		</div>
		<div id="username">
			<p>Username: {{ username }}</p>
		</div>
		<div id="currentpoints">
			<p>Current points: {{currentpoints}}</p>
		</div>
	</div>
	<div id="card2">
		<div id="cardpoke">
			<p class="pokep">Available Pokemon:</p>
			{% for i in range(1,152) %}
			<center><img src={{all_info[i].bulbaimageurl}} width="5%">
				<p>Poki ID: {{i}}</p>
				<p>>Name: {{all_info[i].name}}</p>
				<p>Price: {{pokemon_price}}</p>
				<button type="button" id="{{i}}">Purchase</button><br /><br />
			</center>
			{% if i%5 == 0 %}
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<script src="/static/store.js" async></script>
	<!--- <div class="container">
		<div id="points">
			Username: {{username}}
			<br>
			Current Points:<span id="profPoints">{{currentpoints}}</span>
			<br>
		</div>
	</div>
	
	{% for i in range(1,152) %}
	<div id = "Poki-Card" style="background-color: antiquewhite; width: 200px; display: inline-block; margin: 10px;">
		<img src={{all_info[i].bulbaimageurl}} width="200px">
		<div id="Poki-Text">
			Poki ID: {{i}}<br>
			 Name: {{all_info[i].name}}<br>
			 Price: <span id="pokemonCost">{{pokemon_price}}</span><br>
		</div>
		<div class="Purchase">
			<button type="button" id="{{i}}">Purchase</button>
		</div>
	</div>
	<div class="homediv">
		<a href="/">
			<button>HOME</button>
		</a>
	</div>
	{% if i%5 == 0 %}
	{% endif %}
	{% endfor %}
	<script src="/static/store.js" async></script> --->
</body>

</html>