<html>
<head>
	<link rel="stylesheet" href={{ url_for( 'static' , filename='store.css' ) }} />
</head>
<body>
	<div class="container">
		<div id="points">
			Username: {{username}}
			<br>
			Current Points:<span id="profPoints">{{currentpoints}}</span>
			<br>
		</div>
	</div>
	{% set blue_version = [
        1,2,3,4,5,6,7,8,9,10,11,12,13,15,17,20,21,
        22,25,26,27,29,30,31,32,33,34,41,42,44,45,
        47,48,49,51,52,53,54,55,56,57,65,69,70,71,
        74,75,76,77,80,85,86,88,89,90,91,95,97,98,
        100,101,111,112,115,116,117,120,121,122,124,
        125,126,127,128,129,134,135,136,143,144,145,
        146,149,150
        ]  %}
	
	{% set red_version = [
        14,16,18,19,23,24,28,35,36,37,38,39,40,43,
        46,50,58,59,60,61,62,63,64,66,67,68,72,73,
        78,79,81,82,83,84,87,92,93,94,96,99,102,103,
        104,105,106,107,108,109,110,113,114,118,119,
        123,130,131,132,133,137,138,139,140,141,142,
        147,148
        ] %}
	{% for i in range(1,152) %}
		{% if username == blue_version %}
			{% if i in blue_version %}
		{% elif username == red_version %}
			{% if i in red_version %}
	<div id = "Poki-Card" style="background-color: antiquewhite; width: 200px; display: inline-block; margin: 10px;">
		<img src={{all_info[i].bulbaimageurl}} width="200px">
		<div id="Poki-Text">
			Poki ID: {{i}}<br>
			 Name: {{all_info[i].name}}<br>
			 Price: <span id="pokemonCost">{{pokemon_price}}</span><br>
		</div>
		<div class="Purchase">
			<button type="button" id="{{i}}">Purchase</button>
		</div>
	</div>
	<div class="homediv">
		<a href="/">
			<button>HOME</button>
		</a>
	</div>
	{% if i%5 == 0 %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endfor %}
	<script src="/static/store.js" async></script>
</body>

</html>