<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='trade.css' ) }} />
</head>

<body>
    <div class="page">
        <div class="pageSingleCell centered_div">
            <div class="container">
                <div class="title centered_div" id="title">
                    <h1>Make A Trade</h1>
                </div>
                <div class="request centered_div">
                    Request <select id="request" onchange="selectionChanged(1)">
                        <option value="none">--Select--</option>
                    </select>
                </div>
                <div class="poke1 centered_div">
                    <img id="poke1" src="../static/images/pokeball.png" alt="poke" style="width: 50px;">
                </div>
                <div class="offer centered_div">
                    Offer <select id="offer" onchange="selectionChanged(2)">
                        <option value="none">--Select--</option>
                    </select>
                </div>
                <div class="poke2 centered_div">
                    <img id="poke2" src="../static/images/pokeball.png" alt="poke" style="width: 50px;">
                </div>
                <div class="make_request_button centered_div">
                    <button>Make Request</button>
                </div>
                <div class="border"></div>
                <div class="trade_requests_title centered_div">Current Trade Requests</div>
                <div class="trades">
                    <div style="width: max-content;">
                        {% for i in range(1,151) %}
                        <div style="background-color: aqua; width: 160px; display: inline-block; margin: 10px;">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
                                width="100px">
                            <br>
                            Bulbasaur
                            <br>
                            <button>Purchase</button>
                        </div>
                        {% if i%4 == 0 %}
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/trade.js"></script>
</body>

</html>