<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='trade.css' ) }} />
</head>

<body>
    <div class="page">
        <div class="pageSingleCell centered_div">
            <div class="container">
                <div class="title centered_div" id="title">
                    <h1>Make A Trade</h1>
                </div>
                <div class="selection centered_div" id="selection">
                    Request <select></select> Offer: <select></select> <button>Start Request</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <script type="text/javascript" src="/static/game.js"></script> -->
</body>

</html>