<!DOCTYPE html>
<html>

<head>
    <title>PokeMasters - Trade</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='trade.css' ) }} />
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div id="nav">
        <a href="/">Game</a>
        <a href="/profile">| Profile</a>
        <a href="/leaderboard">| Leaderboard</a>
        <a href="/store">| Store</a>
        <a href="#">| <u>Trade</u></a>
        <a href="/logout">| Logout</a>
    </div>
    <div class="page">
        <div class="pageSingleCell centered_div">
            <div class="container">
                <div class="title centered_div" id="title">
                    <div style="text-align: center;">
                        <span style="font-size: 55px;">PokeMasters</span><br>
                        <span style="font-size: 35px;">Trade</span>
                    </div>
                </div>
                <div class="request centered_div">
                    Request <select id="request" onchange="selectionChanged(1)">
                        <option value="none">--Select--</option>
                    </select>
                </div>
                <div class="poke1 centered_div">
                    <img id="poke1" src="../static/images/pokeball.png" alt="poke" style="width: 50px;">
                </div>
                <div class="offer centered_div">
                    Offer <select id="offer" onchange="selectionChanged(2)">
                        <option value="none">--Select--</option>
                    </select>
                </div>
                <div class="poke2 centered_div">
                    <img id="poke2" src="../static/images/pokeball.png" alt="poke" style="width: 50px;">
                </div>
                <div class="make_request_button centered_div">
                    <button onclick="makeRequest()">Make Request</button>
                </div>
                <div class="border"></div>
                <div class="trade_requests_title centered_div">Current Trade Requests</div>
                <div class="trades">
                    <div style="width: 800px;">
                        {% for i in range(length) %}
                        <div style="display: inline-block; width: fit-content; margin-bottom: 5px;">
                            <div class="trade_entry">
                                <div class="username centered_div">{{trade_list[i]['username']}} Requests</div>
                                <div class="poke1_trade centered_div"><img id=""
                                        src="{{trade_list[i]['poke_request']['image']}}" alt="poke"
                                        style="width: 75px;">
                                </div>
                                <div class="poke2_trade centered_div"><img id=""
                                        src="{{trade_list[i]['poke_offer']['image']}}" alt="poke" style="width: 75px;">
                                </div>
                                <div class="for centered_div">For</div>
                                <div class="name1 centered_div"><span
                                        style="font-size:smaller;">{{trade_list[i]['poke_request']['name']}}</span>
                                </div>
                                <div class="name2 centered_div"><span
                                        style="font-size:smaller;">{{trade_list[i]['poke_offer']['name']}}</span></div>
                                <div class="trade_button centered_div"><button id="{{trade_list[i]['id']}}"
                                        onclick="makeTrade(this)">Make
                                        Trade</button></div>
                            </div>
                        </div>

                        {% endfor %}


                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/trade.js"></script>
</body>

</html>