<!DOCTYPE html>

<head>
    <title>PokeMasters - Upload</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='upload.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static' , filename='clear.css' ) }} />
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div id="nav">
        <a href="/">Home</a>
        <a href="/profile">| <u>Profile</u></a>
        <a href="/ranking">| Leaderboard</a>
        <a href="/store">| Store</a>
        <a href="/logout">| Logout</a>
    </div>
    <div id="card">
        <div id="logo">
            <p>PokeMasters</p>
        </div>
        <div id="upload">
            <p>Upload</p>
        </div>
        <div id="uploadbutton">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <input id="file" type="file" name="file"><br><br>
        </div>
        <div>
            <input id="submit" type="submit" value="Upload" />
        </div>
        </form>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul id="flashes" class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>
</body>

</html>