<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Profile</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='userprofile.css' ) }} />

</head>

<body>
    <h1>User Profile</h1>
    <img id="picture" src={{user_info.pic_path}} /><br>
    <h3>User: {{user_info.username}}</h3>
    <h3>Current points: {{user_info.currentpoints}}</h3>
    <h3>Lifetime points: {{user_info.lifetimepoints}}</h3>
    <h3>My Pokemon Collection:</h3>

    {% for data in pokelinfo %}
    <h4>{{data.name}}</h4>
    <img src="{{data.imageurl}}" width="150" , height="150">
    {% endfor %}

    <!-- <div id="userData" /> -->
    <script type="text/javascript" src=""></script>
</body>

</html>