<!DOCTYPE html>

<head>
    <title>PokeMasters - Profile</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='userprofile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static' , filename='clear.css' ) }} />
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div id="nav">
        <a href="/">Game</a>
        <a href="#">| <u>Profile</u></a>
        <a href="/leaderboard">| Leaderboard</a>
        <a href="/store">| Store</a>
        <a href="/trading">| Trade</a>
        <a href="/logout">| Logout</a>
    </div>
    <div id="card">
        <div id="logo">
            <p>PokeMasters</p>
        </div>
        <div id="profile">
            <p>Profile</p>
        </div>
        <div id="username">
            <p>Username: {{user_info.username}}</p>
        </div>
        <div id="image">
            <img id="profile" src={{user_info.pic_path}} />
        </div>
        <div id="upload">
            <a href="/upload">
                <button>UPLOAD PICTURE</button>
            </a>
        </div>
        <div id="points">
            <p>Current points: {{user_info.currentpoints}}</p>
            <p>Lifetime points: {{user_info.lifetimepoints}}</p>
        </div>
    </div>

    <div id="card2">
        <div>
            <p class="myDatap">My Pokemon Collection:</p>
            {% for data in pokelinfo %}
            <p>{{data.name}}</p>
            <img src="{{data.imageurl}}">
            {% endfor %}
        </div>
    </div>
    </div>

    <script type="text/javascript" src="/static/profile.js"></script>
</body>